/*
========================================================================================
    Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/
docker.enabled = true
process.container = 'quay.io/nextflow/bash'

// Global default params, used in configs
params {
// Input parameters for ge_prep //
    reads="s3://nextflow-data-bucket/input_data/"

    ge_input_dir = "GE" 
    ge_prep_file = "/scripts/Combine_RNASeqGeneExpressionQuantification_files_to_featureXsample_matrix.R"
    ge_prep_logfile = "Combine_RNASeqGeneExpressionQuantification_files_to_featureXsample_matrix.log"
    ge_sampleID_mapping = "TCGA-SARC_GE_RNAseq_HTSeqFPKM_Barcode_FileName_13Aug2021_with_sampleid.txt" 

	ge_mappingsampleID_column = "sample_ids"

    ge_mappingfilename_column = "file_name"
    ge_workflow_type = "HTSeq - FPKM"
    ge_mappingfilename_column = "file_name"

    output_dir = "s3://nextflow-data-bucket/output/ge_prep"
    ge_output_file = "TCGA-SARC_combinedHTSeqFPKM_9Nov2021.csv"

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
}

manifest {
    name            = 'multiomics/pipeline'
    author          = 'Suchita Bhalerao'
    homePage        = 'https://github.com/suchita880/omics'
    description     = 'Nextflow multiomics analysis pipeline.'
    mainScript      = 'main.nf'
#    nextflowVersion = '!>=21.00.0'
    version         = '3.5'
}
